server {
        listen {{php_nginx_port}};
        root /var/www/php_test;
        index index.php index.html index.htm index.nginx-debian.html;
        server_name php-test.com;

        location / {
                try_files $uri $uri/ =404;
        }


        location ~ \.php$ {
            try_files $uri =404;
            fastcgi_pass unix:/var/run/php-fpm/php-fpm.sock;
            fastcgi_index index.php;
            fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
            include fastcgi_params;
        }

        location ~ /\.ht {
                deny all;
        }
}
