{% set counter = namespace(value=1) %}
{% for server in servers %}
#---- Server {{ '%02d' | format(counter.value) }} ------#
{% set counter.value = counter.value + 1 %}
Space_name = {{ server.sname }}
Software_list = {{ server.software }}
{% if 'calls' in server %}
Calls = {{ server.calls }}
{% endif %}

{% endfor %}
